body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

h1 {
    text-align: center; /* Pusatkan judul */
    color: #640f0f; /* Warna teks judul */
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    width: 300px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #3dff03;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

button {
    width: 100%;
    background-color: #3dff03;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3dff03;
}

#result {
    margin-top: 20px;
}
